*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}


body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
     "cabecalho" 
     "principal"
     "rodape";
}


.cabecalho{
    grid-area: cabecalho;
    background-color: #1867c0;
    color: #ffffff;
    display: flex;
    flex-direction: column; /*Alinha a direcao dos elementos*/
    justify-content: center; /*Alinha ao centro da caixa de moto vertical*/
    align-items: center; /*Alinha ao centro da caixa de moto horizontal*/
    padding-bottom: 10px;
    z-index: 1; /* Utilizado para fazer o cabecalho aparecer em cima da shadow*/
    box-shadow: rgb(0, 0, 0) 0px 4px 9px -2px;

}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}


.principal{
    grid-area: principal;
    height: calc(100vh - 180px); /*Definindo a altura da pagina principal como fixa*/
    background-color: #f0f0f0;
    padding: 20px;
}


.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll; /*Utilizado para que apenas a box de conteudo tenha scroll caso utrapssse as dimensoes originais da pagina*/
    background-color: #fff;
    padding: 20px; /*Utilizado para ajustar a diferenca do conteudo para as margens*/
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);

}


.rodape{
    grid-area: rodape;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; /*Utilizado para alinhar o conteudo com mais distancia da borda*/
    color: #aaaaaa;
}


.modulos {
    display: flex;
    flex-wrap: wrap; /*Permite que o conteudo quebre linha para que se ajuste ao container box*/
    justify-content: space-around; /*Ajusta os espacos entre os elementos*/
}


.modulo {
    flex-basis: 32%; /*Utilizado para definir quanto de espaco cada elemento ocupa na tela*/   
    margin-bottom: 15px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #1867c0;
}


.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer; /*Utilizado para indicar ao cursor que cada `li` se tratam de links (muda a forma do cursor)*/
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #EEE; /*Utilizado para aplicar uma coloracao quando passar o cursor em cima da `li` por se tratar de um link*/
}

.modulo.verde {border:  2px solid #4CAF50; }
.modulo.verde > h3 {background-color: #4CAF50;}

.modulo.vermelho {border:  2px solid #F44336; }
.modulo.vermelho > h3 {background-color: #F44336;}

.modulo.azul {border:  2px solid #2196F3; }
.modulo.azul > h3 {background-color: #2196F3;}

.modulo.roxo {border:  2px solid #9C27B0; }
.modulo.roxo > h3 {background-color: #9C27B0;}

.modulo.laranja {border:  2px solid #FF9800; }
.modulo.laranja > h3 {background-color: #FF9800;}

.modulo.verde-escuro {border:  2px solid #1B5E20; }
.modulo.verde-escuro > h3 {background-color: #1B5E20;}

.modulo.vermelho-escuro {border:  2px solid #B71C1C; }
.modulo.vermelho-escuro > h3 {background-color: #B71C1C;}

.modulo.azul-escuro {border:  2px solid #0D47A1; }
.modulo.azul-escuro > h3 {background-color: #0D47A1;}

.modulo.roxo-escuro {border:  2px solid #4A148C; }
.modulo.roxo-escuro > h3 {background-color: #4A148C;}


